<html>
	<head>
		<style>
			.username {
				color: red;
			}
		</style>
	</head>
    <body>
        <h3>Hi <span style="color: red" class="username">${user}</span>, welcome to Demo!</h3>

        <div>
            Your email address is 
        </div>
    </body>
 </html>